.search-input {
    padding: 10px 20px;
    border-radius: 2px;
    margin-right: 10px;
    outline: none;
    border: none;
    width: 100%;
    font-size: 18px;
    border: 1px solid #fff;
    
  }
  